<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
	{% include "layout.html" %}
	<div class="card mx-auto" style="width: 25rem;">
		<div class="card-header">
	<h2>Register</h2>
	<form method="POST" action="{{ url_for('register') }}">
		{{ form.csrf_token }}

		<div>
			<label for="User_Name">Name:</label><br>
			<input type="text" id="User_Name" name="User_Name" required>
		</div>

		<div>
			<label for="id">User ID:</label><br>
			<input type="text" id="id" name="id" required>
		</div>

		<div>
			<label for="password">Password:</label><br>
			<input type="password" id="password" name="password" required>
		</div>

		<div>
			<input type="submit" value="Register">
		</div>
	</form></div></div>
</body>
</html>
